// Colors
$red: red;
$purple: purple;
$blue: blue;
$yellow: gold;
$white: white;
$cyan: cyan;
$coral: coral;
$pink: pink;
$green: lightgreen;
$black: black;

// Size
$small: .85rem;

* {
  box-sizing: border-box;
}

html {
  word-wrap: break-word;
}

.w {
  max-width: 100%;
  padding: 0 15px;
}

blockquote {
  margin: 0;
}

@media (min-width: 900px) {
  html {
    font-size: 17px;
  }

  .w {
    width: fit-content;
    max-width: 90%;
    margin: 0 auto;
    padding: 4rem 2rem;
  }

  code {
    font-size: 1.2rem;
  }

  blockquote {
    margin: 1.3rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 12px;
  }

  .w {
    width: fit-content;
    max-width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem;
  }


}


figure {
  margin-left: 0;
  margin-right: 0;
}

pre {
  padding: 15px;
  overflow: auto;
  font-size: $small;
}

code {
  background-color: #272822;
}

.bg-red {
  background-color: $red;
}

.bg-purple {
  background-color: $purple;
}

.bg-blue {
  background-color: $blue;
}

.bg-yellow {
  background-color: $yellow;
}

.txt-color_red {
  color: $red;
}

.txt-color_purple {
  color: $purple;
}

.txt-color_blue {
  color: $blue;
}

.txt-color_yellow {
  color: $yellow;
}

.txt-color_white {
  color: $white;
}

.txt-color_black {
  color: $black;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-5 {
  margin-right: 5px;
}

.p-5 {
  padding: 5px;
}

.p-l-5 {
  padding-left: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.main-title {
  margin-bottom: 0;
}

.bold {
  font-weight: bold;
}

.text-align-right {
  text-align: right;
}

.text-small {
  font-size: $small;
}

@media (min-width: 600px) {
  embed {
    position: absolute;
    left: 0;
    right: 0;
  }

  .embed-separator {
    margin-top: 570px;
  }
}

.info {
  text-decoration-style: dashed;
  text-decoration-line: underline;
  cursor: help;
}

.point-of-interest {
  padding: 10px;
  margin: 30px 0;
  background-color: $cyan;
}

.point-of-interest_title {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

h2 {
  &#lidée, &#code, &#démo, &#sources {
    margin: 0;
    text-align: center;
  }
}